<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Do.it</title>
</head>
<body>
    <header class="app-bar">
        <div class="app-bar__menu"><button id="hamburgerButton">☰</button></div>
        <div class="app-bar__brand"><h1>do.it</h1></div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#/todo">Todo</a></li>
                <li><a href="#/about">About</a></li>
            </ul>
        </nav>
    </header>

    <main id="mainContent"></main>

    <footer class="container-fluid bg-light">
        <ul class="nav justify-content-center border-bottom">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Todo</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About Us</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2022 Do.it</p>
    </footer>

    <!-- <footer>
    <p>All data obtained from <a href="https://themoviedb.org" target="_blank" rel="noreferrer">TheMovieDB</a><img src="icons/facebook-logo.png" alt="fb logo"></p>
    </footer> -->
</body>
</html>