<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#77287d"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
    <title>do.it</title>
</head>
<body>
    <header class="bg-secondarypurple"><app-bar></app-bar></header>
    <main id="mainContent"></main>
    <footer class="text-center text-lg-start text-white bg-secondarypurple mt-5 border-top border-5 border-altpurple"><app-footer></app-footer></footer>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>