/* global styling */
html{
    overflow-x: hidden !important;
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

body{
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none !important;
}

/* navigation */
body, header{
    position: sticky;
    top: 0;
    z-index: 99;
}

app-bar {
    padding: 8px 20px !important;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
   
app-bar .app-bar__menu {
    display: flex;
    align-items: center;
}
   
app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

app-bar .app-bar__menu .menu-button {
    width: 30px;
}
   
app-bar .app-bar__brand {
    display: flex;
    align-items: center;
}
   
/* app-bar .app-bar__brand img {
    width: 120px;
} */
   
app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px !important;
    background: white;
    overflow: hidden;
}
   
app-bar .app-bar__navigation.open {
    left: 0;
}

app-bar .app-bar__navigation ul{
    list-style: none;
}

app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px;
    margin-bottom: 5px !important;
    width: 100%;
    font-size: 1.2rem;
}

/* main content */
main {
    flex: 1;
}

/* footer */
footer{
    bottom: 0;
}

.footer-icon{
    width: 25px;
    height: 25px;
    filter: invert(23%) sepia(16%) saturate(6670%) hue-rotate(271deg) brightness(85%) contrast(94%);
}

/* quote section on todopage */
.quotes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.generateQuote{
    width: 40px;
}

/* daily todolist */
.todo-btn {
    border: 2px solid #77287d;
    border-radius: 10px;
    background-color: #ffffff;
    color: rgb(255, 255, 255);
}

.add-daily-todo{
    width: 20px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(169deg) brightness(104%) contrast(101%);
}

.submit-todo-btn {
    background-color: #77287d;
    height: 100%;
    width: 100%;
}

.submit-todo-btn:hover {
    background-color: #ffffff;
    border: 2px solid #77287d;
    color: #77287d;
}

.submit-todo-btn:hover .add-daily-todo{
    filter: invert(18%) sepia(28%) saturate(5026%) hue-rotate(276deg) brightness(94%) contrast(89%);
}

.delete-goals-btn {
    margin-right: 12px;
}

.input-todo > input:focus {
    border: 1px solid #d8cbf7;
    box-shadow: 0 0 10px #d8cbf7;
}

.input-todo > input:focus::placeholder {
    color: #dddfe2;
}

.todo-card {
    border-radius: 10px;
    background-color: white;
    border: 2px solid #77287d;
}

.todo-card-left-section label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.todo-card-left-section .task-checkbox {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.todo-card-left-section label span {
    /* content: ''; */
    min-width: 1.5em;
    height: 1.5em;
    border: 2px solid #77287d;
    border-radius: 100%;
    margin-right: 10px;
    color: transparent;
}

.todo-card-left-section .task-checkbox:checked + label span {
    /* content: '\002714'; */
    background-color: #77287d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.todo-card-left-section .task-checkbox:checked + label p {
    text-decoration: line-through;
}

.todo-card-right-section ion-icon{
    font-size: 25px;
}

.todo-card-edit-btn {
    color: grey;
    padding: 5px;
    border-radius: 10px;
    background-color: #fee748;
    border: none;
    max-height: 35px;
}

.todo-card-delete-btn {
    color: grey;
    padding: 5px;
    border-radius: 10px;
    background-color: #a7c0ff;
    border: none;
    max-height: 35px;
}

.task-label {
    width: 100%;
}

.input-new-task{
    width: 100%;
    padding: 5px 10px;
    border: 2px solid #d8cbf7;
    border-radius: 10px;
}

.input-new-task:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #d8cbf7;
    border-radius: 0px;
}

/* quote section on todopage */
.quotes{
    margin: 60px 0px;
}

.quotes img {
    width: 75%;
    height: 300px;
}

.quote-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.quote-section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    width: 55%;
}

.next-back-icon {
    font-size: 35px;
    color: #77287d;
}

.quote-section .quote{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    word-break: break-word;
    color: #77287d;
}

.content .author{
    text-align: center;
    margin-top: 5px;
    font-size: 13px;
}

/* styling for add goals feature */
.form-select {
    border: 1px solid #d8cbf7;
    box-shadow: 0 0 10px 0px #fff inset !important;
}

.form-select:focus {
    border: 1px solid #d8cbf7 !important;
    box-shadow: 0 0 10px #d8cbf7 !important;
}

.list-group > .active {
    background-color: #77287d !important;
    border-radius: 5px;
}

.wrapper{
    width: 90%;
}

.wrapper h1{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content{
    margin: 35px 0 !important;
}

.wrapper .content .quote-area{
    display: flex;
    justify-content: center;
}

.wrapper .content .quote-area svg:first-child{
    margin-top: -25px !important;
}

.wrapper .content .quote-area svg:last-child{
    margin-bottom: -10px !important;
}

.wrapper .content .quote-area .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-word;
}

.wrapper .content .author{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px !important;
    font-size: 18px;
    font-style: italic;
}

.wrapper .content button {
    border-radius: 25px;
}

.wrapper .content .author span:first-child{
    margin: -7px 5px 0 0 !important;
    font-family: monospace !important;
}

.wrapper .buttons{
    border-top: 1px solid #d8cbf7;
}

.wrapper .buttons .features{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px !important;
}

.wrapper .buttons .features button{
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 13px 22px;
    border-radius: 30px;
    background: #5372f0;
}

.wrapper .buttons .features button.loading{
    opacity: .7;
    pointer-events: none;
}

/* section third on homepage */
.section-third span{
    font-size: 12px;
}

/* about page */
.about-icon{
    width: 16px;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}
  
.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.photo-container{
    height: 300px;
    overflow: hidden;
}

/* timerpage */
.pomodoro-container {
  height: 90vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
  
.pomodoro-container button {
  display: inline-block;
  height: 38px;
  padding: 0 10px;
  color: #03071e;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 10px;
  background: #d8cbf7;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}
  
.pomodoro-container button:hover {
  background: #5d4ad2;
  color: white;
}
  
.pomodoro-container button[disabled] {
  cursor: not-allowed;
  background: #03071e;
  color: white;
}

.pomodoro-container button[disabled] {
    cursor: not-allowed;
    background: #03071e;
    color: white;
}
  
#time span{
    font-size: 3rem;
    font-weight: 500;
}

.pomodoro-container #button-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pomodoro-container #countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pomodoro-container #countdown-container #countdown {
  font-size: 4em;
  cursor: pointer;
  text-align: center;
}

.break {
  background: #5d4ad2;
  border-color: #d8cbf7 !important;
}

.break button {
  border-color: #98C3A1;
}

.break button:hover {
  background: #98C3A1;
}

.break button[disabled] {
  cursor: not-allowed;
  background: #a8b3aa;
}

/* todopage */
.icon-report{
    width: 50px;
}

.icon-modal{
    width: 70px;
    filter: invert(23%) sepia(16%) saturate(6670%) hue-rotate(271deg) brightness(85%) contrast(94%);
}

.icon-todo{
    width: 20px;
}

.bg-satu{
    background: rgb(243,243,123);
    background: linear-gradient(45deg, rgba(243,243,123,1) 0%, rgba(216,203,247,1) 73%, rgba(190,220,228,1) 100%);
}
  
.bg-dua{
    background: rgb(243,243,123);
    background: linear-gradient(45deg, rgba(243,243,123,1) 0%, rgba(216,203,247,1) 41%, rgba(190,220,228,1) 93%);
}
  
.bg-tiga{
    background: rgb(243,243,123);
    background: linear-gradient(45deg, rgba(243,243,123,1) 0%, rgba(216,203,247,1) 33%, rgba(190,220,228,1) 61%);
}

button{
    border: none;
    background: none;
}

.icon-goals{
    width: 20px;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(191deg) brightness(101%) contrast(101%);
}
  
.fixed-bottom{
    left: auto !important;
    right: 10px !important;
    bottom: 5px !important;
}
  
#addGoalsButton{
    color: #77287d !important;
    border: none !important;
    background: none !important;
}

#trash:hover{
    filter: invert(22%) sepia(68%) saturate(3359%) hue-rotate(335deg) brightness(79%) contrast(123%);
}
  
#editTodoForm{
    display: none;
}
  
.card{
    border-radius: 10px;
    transition: .5s;
}
  
.card:hover{
    transform: scale(1.03);
}
  
.todo-action ion-icon{
    cursor: pointer;
    font-size: 25px;
}
  
.sidebar-list li{
    cursor: pointer;
}
  
#currentShowTodoList span{
    cursor: pointer;
    color: red;
}

/* styling untuk responsive */
@media (max-width: 375px){
    .quote-section .quote{
        font-size: 12px;
    }
}

@media (min-width: 375px) {
    .photo-container{
        height: 360px;
        overflow: hidden;
    }
}

@media(max-width: 425px){
    .quote-section .quote{
        font-size: 18px;
    }

    #bingkai{
        opacity: 0;
    }
}

@media (min-width: 425px) {
    .photo-container{
        height: 400px;
        overflow: hidden;
    }
}

@media (min-width: 576px) {
    .quotes img {
        width: 80%;
        height: 270px;
    }

    .content .author{
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .quotes img {
        width: 85%;
        height: 200px;
    }
}

@media (min-width: 992px) {
    .quotes img {
        width: 90%;
        height: 100%;
    }

    .quote-section .quote {
        font-size: 20px;
    }

    .content .author {
        margin-top: 10px;
        font-size: 18px;
    }
}

@media (min-width: 600px) {
  .pomodoro-container #countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 4px solid #5d4ad2;
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 700px) {
    app-bar .app-bar__navigation ul li a::after{
        content: '';
        width: 0;
        height: 2px;
        background: #77287d;
        display: block;
        margin: auto;
        transition: .5s;
    }

    app-bar .app-bar__navigation ul li a:hover::after{
        width: 50%;
    }

    .border:before {
        content: "";
        height: 3px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        position: absolute;
        width: 200%;
        top: 50%;
        left: -50%;
        z-index: -1;
    }

    .photo-container{
        height: 360px;
        overflow: hidden;
    }
}

@media screen and (min-width: 750px) {
    app-bar {
        grid-template-columns: 1fr auto;
        padding: 0 50px !important;
    }
   
    app-bar .app-bar__menu {
        display: none;
    }
   
    app-bar .app-bar__navigation {
        position: static;
        width: 100%;
        background: transparent;
    }

    app-bar .app-bar__navigation ul{
        height: 100%;
        display: flex !important;
        align-items: center !important;
    }

    app-bar .app-bar__navigation ul li {
        display: inline-block;
    }
   
    app-bar .app-bar__navigation ul li a {
        display: inline-block;
        width: 120px;
        text-align: center;
        margin: 0 !important;
    }

    .btn-group {
        grid-area: btns;
        justify-content: center;
    }

    .clock {
        grid-area: clock;
        height: 100%;
    }
}
   
@media screen and (min-width: 800px) {
    
}
   
@media screen and (min-width: 850px) {
    .photo-container{
        height: 220px;
        overflow: hidden;
    }
}
   
@media screen and (min-width: 1200px) {
    .photo-container{
        height: 320px;
        overflow: hidden;
    }

    .quotes img {
        width: 90%;
        height: 100%;
    }

    .quotes{
        margin: 80px 0px;
    }

    .next-back-icon {
        font-size: 40px;
    }

    .quote-section .quote{
        font-size: 25px;
    }

    .content .author{
        margin-top: 15px;
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    .quotes{
        margin: 90px 0px;
    }

    .quotes img {
        width: 100%;
    }

    .next-back-icon {
        font-size: 50px;
    }

    .quote-section .quote{
        font-size: 27px;
    }

    .content .author{
        margin-top: 20px;
        font-size: 18px;
    }
}
   
@media screen and (min-width: 1600px) {
    .photo-container{
        height: 600px;
        overflow: hidden;
    }
}