/* global styling */
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

body{
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none !important;
}

ion-icon {
    font-size: 25px;
}

/* navigation */
body header{
    position: sticky;
    top: 0;
    z-index: 99;
}

app-bar {
    padding: 8px 20px !important;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
   
app-bar .app-bar__menu {
    display: flex;
    align-items: center;
}
   
app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}
   
app-bar .app-bar__brand {
    display: flex;
    align-items: center;
}
   
app-bar .app-bar__brand img {
    width: 120px;
}
   
app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px !important;
    background: white;
    overflow: hidden;
}
   
app-bar .app-bar__navigation.open {
    left: 0;
}

app-bar .app-bar__navigation ul{
    list-style: none;
}

app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px;
    margin-bottom: 5px !important;
    width: 100%;
    font-size: 1.2rem;
}

app-bar .app-bar__navigation ul li a:hover{
    color: #ff0a54;
}

/* main content */
main {
    flex: 1;
}

/* footer */
footer{
    bottom: 0;
}

/* quote section on todopage */
.quotes{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.wrapper{
    width: 90%;
    border-radius: 15px;
    padding: 30px 30px 25px;
}

.wrapper h1{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content{
    margin: 35px 0 !important;
}

.wrapper .content .quote-area{
    display: flex;
    justify-content: center;
}

.wrapper .content .quote-area svg:first-child{
    margin-top: -25px !important;
}

.wrapper .content .quote-area svg:last-child{
    margin-bottom: -10px !important;
}

.wrapper .content .quote-area .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-word;
}

.wrapper .content .author{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px !important;
    font-size: 18px;
    font-style: italic;
}

.wrapper .content button {
    border-radius: 25px;
}

.wrapper .content .author span:first-child{
    margin: -7px 5px 0 0 !important;
    font-family: monospace !important;
}

.wrapper .buttons{
    border-top: 1px solid #d8cbf7;
}

.wrapper .buttons .features{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px !important;
}

.wrapper .buttons .features button{
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 13px 22px;
    border-radius: 30px;
    background: #5372f0;
}

.wrapper .buttons .features button.loading{
    opacity: .7;
    pointer-events: none;
}

/* section third on homepage */
.section-third span{
    font-size: 12px;
}

/* about page */
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}
  
.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.photo-container{
    height: 300px;
    overflow: hidden;
}

/* timerpage */
.pomodoro-container {
  height: 90vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
  
.pomodoro-container button {
  display: inline-block;
  height: 38px;
  padding: 0 10px;
  color: #03071e;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 10px;
  background: #d8cbf7;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}
  
.pomodoro-container button:hover {
  background: #5d4ad2;
  color: white;
}
  
.pomodoro-container button[disabled] {
  cursor: not-allowed;
  background: #03071e;
  color: white;
}

.pomodoro-container h1 {
  position: relative;
  margin-bottom: 1em;
  display: inline-block;
  padding: 0 10px;
  font-size: 1.2rem;
}

.pomodoro-container .length-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.pomodoro-container .length-container .toggle-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pomodoro-container .length-container .toggle-button-container #focus-length,
.pomodoro-container .length-container .toggle-button-container #break-length {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  display: inline-block;
  background: #fff;
  color: #03071e;
  border: 2px solid #5d4ad2;
  border-radius: 50%;
}

.pomodoro-container .length-container .toggle-button-container .toggle-timer{
  width: 50px;
}

.pomodoro-container #button-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pomodoro-container #countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pomodoro-container #countdown-container #countdown {
  font-size: 4em;
  cursor: pointer;
  text-align: center;
}

.break {
  background: #5d4ad2;
  border-color: #d8cbf7 !important;
}

.break button {
  border-color: #98C3A1;
}

.break button:hover {
  background: #98C3A1;
}

.break button[disabled] {
  cursor: not-allowed;
  background: #a8b3aa;
}

/* todopage */
.bg-satu{
    background: rgb(243,243,123);
    background: linear-gradient(45deg, rgba(243,243,123,1) 0%, rgba(216,203,247,1) 73%, rgba(190,220,228,1) 100%);
}

.bg-dua{
    background: rgb(243,243,123);
    background: linear-gradient(45deg, rgba(243,243,123,1) 0%, rgba(216,203,247,1) 41%, rgba(190,220,228,1) 93%);
}

.bg-tiga{
    background: rgb(243,243,123);
    background: linear-gradient(45deg, rgba(243,243,123,1) 0%, rgba(216,203,247,1) 33%, rgba(190,220,228,1) 61%);
}

.logo{
    font-size: 2.5rem;
}

button{
    border: none;
    background: none;
}

.fixed-bottom{
    left: auto !important;
    right: 10px !important;
    bottom: 5px !important;
}

#addGoalsButton{
    color: #5d4ad2 !important;
    border: none !important;
    background: none !important;
}

#addGoalsButton ion-icon {
    font-size: 64px;
}

@media (min-width: 375px) {
    .photo-container{
        height: 360px;
        overflow: hidden;
    }
}

@media (min-width: 425px) {
    .photo-container{
        height: 400px;
        overflow: hidden;
    }
}

@media (min-width: 600px) {
  .pomodoro-container #countdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 4px solid #5d4ad2;
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 700px) {
    .border:before {
        content: "";
        height: 3px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        position: absolute;
        width: 200%;
        top: 50%;
        left: -50%;
        z-index: -1;
    }

    .photo-container{
        height: 360px;
        overflow: hidden;
    }
}

@media screen and (min-width: 750px) {
    app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 50px !important;
    }
   
    app-bar .app-bar__menu {
        display: none;
    }
   
    app-bar .app-bar__navigation {
        position: static;
        width: 100%;
        background: transparent;
    }

    app-bar .app-bar__navigation ul{
        height: 100%;
        display: flex !important;
        align-items: center !important;
    }

    app-bar .app-bar__navigation ul li {
        display: inline-block;
    }
   
    app-bar .app-bar__navigation ul li a {
        display: inline-block;
        width: 120px;
        text-align: center;
        margin: 0 !important;
    }

    .btn-group {
        grid-area: btns;
        justify-content: center;
    }

    .clock {
        grid-area: clock;
        height: 100%;
    }
}
   
@media screen and (min-width: 800px) {
    
}
   
@media screen and (min-width: 850px) {
    .photo-container{
        height: 220px;
        overflow: hidden;
    }
}
   
@media screen and (min-width: 1200px) {
    .photo-container{
        height: 320px;
        overflow: hidden;
    }
}
   
@media screen and (min-width: 1600px) {
    .photo-container{
        height: 600px;
        overflow: hidden;
    }
}