*{
    box-sizing: border-box;
    margin: 0 !important;
    font-family: 'Poppins', sans-serif !important;
}

body{
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none !important;
}

body header{
    position: sticky;
    top: 0;
    z-index: 99;
}

app-bar {
    padding: 8px 20px !important;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
   
app-bar .app-bar__menu {
    display: flex;
    align-items: center;
}
   
app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    padding: 8px;
    cursor: pointer;
}
   
app-bar .app-bar__brand {
    display: flex;
    align-items: center;
}
   
app-bar .app-bar__brand img {
    width: 120px;
}
   
app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px !important;
    background: white;
    overflow: hidden;
}
   
app-bar .app-bar__navigation.open {
    left: 0;
}

app-bar .app-bar__navigation ul{
    list-style: none;
}

app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px;
    margin-bottom: 5px !important;
    width: 100%;
    font-size: 1.2rem;
}

app-bar .app-bar__navigation ul li a:hover{
    color: red;
}

main {
    flex: 1;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}

footer{
    bottom: 0;
}

ion-icon {
    font-size: 25px;
}

.quotes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    width: 90%;
    border-radius: 15px;
    padding: 30px 30px 25px;
}

.wrapper h1{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content{
    margin: 35px 0 !important;
}

.wrapper .content .quote-area{
    display: flex;
    justify-content: center;
}

.wrapper .content .quote-area .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-all;
}

.wrapper .content .author{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px !important;
    font-size: 18px;
    font-style: italic;
}

.wrapper .content .author span:first-child{
    margin: -7px 5px 0 0 !important;
    font-family: monospace !important;
}

.wrapper .buttons{
    border-top: 1px solid #d8cbf7;
}

.wrapper .buttons .features{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px !important;
}

.wrapper .buttons .features button{
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 13px 22px;
    border-radius: 30px;
    background: #5372f0;
}

.wrapper .buttons .features button.loading{
    opacity: .7;
    pointer-events: none;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}
  
.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.section-third span{
    font-size: 12px;
}

@media screen and (min-width: 750px) {
    app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 50px !important;
    }
   
    app-bar .app-bar__menu {
        display: none;
    }
   
    app-bar .app-bar__navigation {
        position: static;
        width: 100%;
        background: transparent;
    }

    app-bar .app-bar__navigation ul li {
        display: inline-block;
    }
   
    app-bar .app-bar__navigation ul li a {
        display: inline-block;
        width: 120px;
        text-align: center;
        margin: 0 !important;
    }
}
   
@media screen and (min-width: 800px) {
    
}
   
@media screen and (min-width: 850px) {

}
   
@media screen and (min-width: 1200px) {

}
   
@media screen and (min-width: 1600px) {

}